{% set pool  = admin_pool() %}
{% set route = app.request.get('_route') %}

<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <a href="{{ admin_path('dashboard') }}" class="brand-link">
        <img src="{{ asset('bundles/admin/img/AdminLTELogo.png') }}" alt="SIA OROLS" class="brand-image img-circle elevation-3" style="opacity: .8" />
        <span class="brand-text font-weight-light">SIA OROLS</span>
    </a>

    <div class="sidebar">
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img src="{{ asset('bundles/admin/img/user2-160x160.jpg') }}" class="img-circle elevation-2" alt="{{ app.user.username }}" />
            </div>
            <div class="info">
                <a href="#" class="d-block">{{ app.user.username }}</a>
            </div>
        </div>
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column nav-flat" data-widget="treeview" role="menu" data-accordion="false">
                <li class="nav-item">
                    <a href="{{ admin_path('dashboard') }}" class="nav-link{% if admin_route('dashboard') == route %} active{% endif %}">
                        <i class="nav-icon fab fa-dashcube"></i> <p>{{ 'admin.navigation.label_dashboard'|trans }}</p>
                    </a>
                </li>
                {% if pool.config.menu.items is defined and pool.config.menu.items %}
                    {% for code, item in pool.config.menu.items %}
                        <li class="nav-item">
                            <a href="{{ admin_path('list', code) }}" class="nav-link{% if admin_route('list', code) == route %} active{% endif %}">
                                {% if item.icon %}<i class="nav-icon fa fa-{{ item.icon }}"></i> {% endif %}<p>{{ item.label|trans }}</p>
                            </a>
                        </li>
                    {% endfor %}
                {% endif %}
            </ul>
        </nav>
    </div>
</aside>

{#<nav class="navbar-default navbar-static-side" role="navigation">#}
{#    <div class="sidebar-collapse">#}
{#        <ul class="nav metismenu" id="side-menu">#}
{#            <li class="nav-header">#}
{#                <div class="dropdown profile-element">#}
{#                    <img alt="image" class="rounded-circle" src="{{ asset('bundles/admin/img/profile_small.jpg') }}" />#}
{#                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">#}
{#                        <span class="block m-t-xs font-bold">{{ app.user.username }}</span>#}
{#                        <span class="text-muted text-xs block">TBA <b class="caret"></b></span>#}
{#                    </a>#}
{#                    <ul class="dropdown-menu{% if parameter('admin.content.animate') %} animated fadeInRight{% endif%} m-t-xs">#}
{#                        <li><a class="dropdown-item" href="#">Profile</a></li>#}
{#                        <li><a class="dropdown-item" href="#">Contacts</a></li>#}
{#                        <li><a class="dropdown-item" href="#">Mailbox</a></li>#}
{#                        <li class="dropdown-divider"></li>#}
{#                        <li><a class="dropdown-item" href="{{ path('admin_logout') }}">Logout</a></li>#}
{#                    </ul>#}
{#                </div>#}
{#                <div class="logo-element">#}
{#                    IN+#}
{#                </div>#}
{#            </li>#}
{#            <li{% if route == admin_route('dashboard') %} class="active"{% endif %}>#}
{#                <a href="{{ admin_path('dashboard') }}">#}
{#                    <i class="fa fa-th-large"></i> <span class="nav-label">{{ 'admin.navigation.label_dashboard'|trans }}</span>#}
{#                </a>#}
{#            </li>#}
{#            {% if pool.config.menu.groups is defined and pool.config.menu.groups|length > 0 %}#}
{#                {% for group, data in pool.config.menu.groups %}#}
{#                    {% if data.items|length > 0 %}#}
{#                        {% set active_sub_routes = data.items|map(item => admin_route('list', item.code)) %}#}
{#                        {% set sub_routes        = sub_routes is defined ? sub_routes|merge(active_sub_routes) : active_sub_routes %}#}
{#                        {% set sub_route_active  = route in sub_routes %}#}
{#                        <li{% if sub_route_active %} class="active"{% endif %}>#}
{#                            <a href="#">#}
{#                                <i class="fa fa-th-large"></i> <span class="nav-label">{{ data.label|trans }}</span> <span class="fa arrow"></span>#}
{#                            </a>#}
{#                            <ul class="nav nav-second-level{{ sub_route_active ? '' : ' collapse'}}">#}
{#                                {% for item in data.items %}#}
{#                                    <li{% if route == admin_route('list', item.code) or app.request.get('_admin') == item.code %} class="active"{% endif %}>#}
{#                                        <a href="{{ admin_path('list', item.code) }}">#}
{#                                            {{ item.icon ? ('<i class="fa fa-' ~ item.icon ~ '"></i> ')|raw : '' }}{{ item.label|trans }}#}
{#                                        </a>#}
{#                                    </li>#}
{#                                {% endfor %}#}
{#                            </ul>#}
{#                        </li>#}
{#                    {% endif %}#}
{#                {% endfor %}#}
{#            {% endif %}#}
{#            {% if pool.config.menu.items is defined and pool.config.menu.items %}#}
{#                {% for item in pool.config.menu.items %}#}
{#                    <li{% if route == admin_route('list', item.code) %} class="active"{% endif %}>#}
{#                        <a href="{{ admin_path('list', item.code) }}">#}
{#                            {{ item.icon ? ('<i class="fa fa-' ~ item.icon ~ '"></i> ')|raw : '' }} {{ item.label|trans }}#}
{#                        </a>#}
{#                    </li>#}
{#                {% endfor %}#}
{#            {% endif %}#}
{#        </ul>#}
{#    </div>#}
{#</nav>#}