{% set pool  = admin_pool() %}
{% set route = app.request.get('_route') %}

<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
            {% if pool.config.menu.groups is defined and pool.config.menu.groups|length > 0 %}
                {% for group, data in pool.config.menu.groups %}
                    {% if data.items|length > 0 %}
                        {% set active_sub_routes = data.items|map(item => admin_route('list', item.code)) %}
                        {% set sub_routes        = sub_routes is defined ? sub_routes|merge(active_sub_routes) : active_sub_routes %}
                        {% set sub_route_active  = route in sub_routes %}

                        <li{% if route == admin_route('dashboard') %} class="active"{% endif %}>
                            <a href="{{ admin_path('dashboard') }}"><i class="fa fa-th-large"></i> <span class="nav-label">{{ 'admin.navigation.label_dashboard'|trans }}</span></a>
                        </li>
                        <li{% if sub_route_active %} class="active"{% endif %}>
                            <a href="#">
                                <i class="fa fa-th-large"></i> <span class="nav-label">{{ data.label|trans }}</span> <span class="fa arrow"></span>
                            </a>
                            <ul class="nav nav-second-level{{ sub_route_active ? '' : ' collapse'}}">
                                {% for item in data.items %}
                                    <li{% if route == admin_route('list', item.code) or app.request.get('_admin') == item.code %} class="active"{% endif %}>
                                        <a href="{{ admin_path('list', item.code) }}">{{ item.label|trans }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </li>
                    {% endif %}
                {% endfor %}
            {% endif %}
            {% if pool.config.menu.items is defined and pool.config.menu.items %}
                {% for item in pool.config.menu.items %}
                    <li{% if route == admin_route('list', item.code) %} class="active"{% endif %}>
                        <a href="{{ admin_path('list', item.code) }}">{{ item.label|trans }}</a>
                    </li>
                {% endfor %}
            {% endif %}
        </ul>
    </div>
</nav>