{% extends 'form_div_layout.html.twig' %}

{%- block form_widget_simple -%}
    {%- set type = type|default('text') -%}
    {%- if type == 'range' or type == 'color' -%}
        {%- set required = false -%}
    {%- endif -%}
    <div class="flex-fill">
        <input type="{{ type }}" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}/>
    </div>
{%- endblock -%}

{%- block choice_widget_collapsed -%}
    <div class="flex-fill">
        {{ parent() }}
    </div>
{%- endblock -%}

{%- block plain_widget -%}
    <div class="flex-fill">
        <div class="form-control-static">{{ value }}</div>
    </div>
{%- endblock -%}