<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}Admin{% endblock %}</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        {% block stylesheets %}
            <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet" />
            <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" />
            <link rel="stylesheet" href="{{ asset('bundles/admin/plugins/fontawesome-free/css/all.min.css') }}" />
            <link rel="stylesheet" href="{{ asset('bundles/admin/plugins/daterangepicker/daterangepicker.css') }}" />
            <link rel="stylesheet" href="{{ asset('bundles/admin/plugins/icheck-bootstrap/icheck-bootstrap.min.css') }}" />
            <link rel="stylesheet" href="{{ asset('bundles/admin/plugins/bootstrap-colorpicker/css/bootstrap-colorpicker.min.css') }}" />
            <link rel="stylesheet" href="{{ asset('bundles/admin/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css') }}" />
            <link rel="stylesheet" href="{{ asset('bundles/admin/plugins/select2/css/select2.min.css') }}" />
            <link rel="stylesheet" href="{{ asset('bundles/admin/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css') }}" />
            <link rel="stylesheet" href="{{ asset('bundles/admin/css/adminlte.min.css') }}" />
            <link rel="stylesheet" href="{{ asset('bundles/admin/css/style.css') }}" />
        {% endblock %}
    </head>
    {% block body_container %}
        <body class="{{ body_class|default('hold-transition sidebar-mini sidebar-collapse layout-navbar-fixed') }}">
            {% block body %}
                <div id="wrapper">
                    {% include '@Admin/Elements/navbar.html.twig' %}
                    {% include '@Admin/Elements/sidebar.html.twig' %}

                    {% block content_wrapper %}
                        <div class="content-wrapper">
                            {% block content_header %}
                                <section class="content-header">
                                    <div class="container-fluid">
                                        <div class="row mb-2">
                                            <div class="col-sm-6">
                                                {% block header %}{% endblock %}
                                            </div>
                                            <div class="col-sm-6">
                                                {% block breadcrumbs %}{% endblock %}
                                            </div>
                                        </div>
                                    </div>
                                </section>
                            {% endblock %}

                            {% block content_container %}
                                <section class="content">
                                    <div class="container-fluid">
                                        {% block content %}{% endblock %}
                                    </div>
                                </section>
                            {% endblock %}
                        </div>
                    {% endblock %}
                </div>
            {% endblock %}

            {% block javascripts %}
                <script src="{{ asset('bundles/admin/plugins/jquery/jquery.min.js') }}"></script>
                <script src="{{ asset('bundles/admin/plugins/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
                <script src="{{ asset('bundles/admin/plugins/select2/js/select2.full.min.js') }}"></script>
                <script src="{{ asset('bundles/admin/plugins/moment/moment.min.js') }}"></script>
                <script src="{{ asset('bundles/admin/plugins/inputmask/min/jquery.inputmask.bundle.min.js') }}"></script>
                <script src="{{ asset('bundles/admin/plugins/daterangepicker/daterangepicker.js') }}"></script>
                <script src="{{ asset('bundles/admin/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.min.js') }}"></script>
                <script src="{{ asset('bundles/admin/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js') }}"></script>
                <script src="{{ asset('bundles/admin/plugins/bootstrap-switch/js/bootstrap-switch.min.js') }}"></script>
                <script src="{{ asset('bundles/admin/js/adminlte.min.js') }}"></script>
                <script>
                    $(function () {
                        $('.select2bs4').each(function () {
                            let $hidden = $(this).closest('.collapse:not(.show)');

                            $hidden.addClass('show');

                            $(this).select2({
                                theme: 'bootstrap4',
                                width: 'style',
                                placeholder: '{{ 'admin.form.placeholder.label_select'|trans }}'
                            });

                            $hidden.removeClass('show');
                        });
                    });
                </script>
            {% endblock %}
        </body>
    {% endblock %}
</html>