{% extends '@Admin/layout.html.twig' %}

{% block title %}Log in!{% endblock %}

{% set body_class = 'text-center' %}

{%- block stylesheets -%}
    {{ parent() }}

    <link rel="stylesheet" href="{{ asset('bundles/admin/css/signin.css') }}" />
{%- endblock -%}

{% block body %}
    <form method="post" class="form-signin">
        <!--<img class="mb-4" src="/docs/4.5/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">-->
        <h1 class="h3 mb-3 font-weight-normal">Lūdzu ielogojies</h1>

        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        <input type="text" name="username" class="form-control" placeholder="Lietotājvārds" value="{{ last_username }}" required autofocus>
        <input type="password" name="password" class="form-control" placeholder="Parole" required>
        <label class="checkbox mb-3">
            <input type="checkbox" name="_remember_me" /> Atcerēties mani
        </label>
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}" />
        <button class="btn btn-lg btn-primary btn-block" type="submit">Ielogoties</button>

        <p class="mt-5 mb-3 text-muted">&copy; 2020 &mdash; SIA OROLS</p>
    </form>
{% endblock %}