{% extends '@Admin/CRUD/layout.html.twig' %}

{% block content %}
    {{ form_start(form) }}
        <div class="card card-primary card-outline card-tabs">
            {% if not admin.page.formTabs.empty %}
                <div class="card-header p-0 pt-1 border-bottom-0">
                    <ul class="nav nav-tabs" id="form-tab" role="tablist">
                        {% for tab in admin.page.formTabs|keys %}
                            <li class="nav-item">
                                <a class="nav-link{% if loop.first %} active{% endif %}" id="{{ tab }}-tab" data-toggle="pill" href="#{{ tab }}" role="tab" aria-controls="{{ tab }}" aria-selected="true">
                                    {{ ('admin.form.tabs.label_' ~ tab)|trans }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
            <div class="card-body">
                {% if not admin.page.formTabs.empty %}
                    <div class="tab-content" id="form-tabContent">
                        {% for tab, fields in admin.page.formTabs %}
                            <div class="tab-pane fade show{% if loop.first %} active{% endif %}" id="{{ tab }}" role="tabpanel" aria-labelledby="{{ tab }}-tab">
                                {% for field in fields %}
                                    {{ form_row(form[field]) }}
                                {% endfor %}
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
                {{ form_rest(form) }}
            </div>
            <div class="card-footer">
                <div class="d-flex justify-content-end">
                    <button class="btn btn-danger mr-3" type="submit">{{ 'admin.form.button.label_cancel'|trans }}</button>
                    <button class="btn btn-default" type="submit">{{ 'admin.form.button.label_save_changes'|trans }}</button>
                </div>
            </div>
        </div>
    {{ form_end(form) }}
{% endblock %}