{% extends '@Admin/CRUD/layout.html.twig' %}

{% block breadcrumbs %}{% endblock %}

{%- block content -%}
    <div class="container-fluid pb-3">
        {% form_theme form admin.context.formTheme %}

        {{- form_start(form) -}}

        {%- if not admin.context.formTabs.empty -%}
            <ul class="nav nav-tabs" id="form-tab" role="tablist">
                {% for tab in admin.context.formTabs|keys %}
                    <li class="nav-item">
                        <a class="nav-link{% if loop.first %} active{% endif %}" id="{{ tab }}-tab" data-toggle="pill" href="#{{ tab }}" role="tab" aria-controls="{{ tab }}" aria-selected="true">
                            {{ ('admin.form.tabs.label_' ~ tab)|trans }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
            <div class="tab-content" id="form-tabContent">
                {% for tab, fields in admin.context.formTabs %}
                    <div class="tab-pane pt-2 fade show{% if loop.first %} active{% endif %}" id="{{ tab }}" role="tabpanel" aria-labelledby="{{ tab }}-tab">
                        {% for field in fields %}
                            {{ form_row(form[field]) }}
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
        {%- endif -%}

        {{- form_rest(form) -}}

        <div class="d-flex justify-content-end">
            <button class="btn btn-danger mr-3" type="submit">{{ 'admin.form.button.label_cancel'|trans }}</button>
            <button class="btn btn-default" type="submit">{{ 'admin.form.button.label_save_changes'|trans }}</button>
        </div>

        {{- form_end(form) -}}
    </div>
{%- endblock -%}