{% extends '@Admin/CRUD/layout.html.twig' %}

{% set filters = true %}

{% block header %}<h1>{{ admin.class }}</h1>{% endblock %}

{% block content %}
    <div class="d-flex justify-content-end mb-3">
        <a href="{{ admin_path('create', admin.code) }}" class="btn btn-default">
            <span data-feather="plus"></span> Create
        </a>
    </div>

    {% if result|length > 0 %}
        <form action="" method="post">
            <table class="table">
                <thead class="thead-light">
                    <tr>
                        <th>&nbsp;</th>
                        {% for propertyPath, options in admin.context.list %}
                            <th>{{ options.label|trans }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for index, object in result %}
                        <tr>
                            <td>
                                <label>
                                    <input type="checkbox" class="i-checks" name="idx[]" value="{{ object.id }}" />
                                </label>
                            </td>
                            {%- for propertyPath, options in admin.context.list -%}
                                {%- set value = attribute(object, propertyPath) -%}
                                {%- if propertyPath == admin.identifier -%}<th scope="row">{%- else -%}<td>{%- endif -%}
                                {%- if options.template is defined -%}
                                    {{- options.template.renderBlock(options.block_name, { admin: admin, object: object, propertyPath: propertyPath, value: value })|raw -}}
                                {%- else -%}
                                    {%- if propertyPath == admin.identifier -%}
                                        <a href="{{ admin_pool().getAdminByAdminCode(admin.code).generateUrl('edit', { id: value }) }}">{{ value }}</a>
                                    {%- else -%}
                                        {{- value -}}
                                    {%- endif -%}
                                {%- endif -%}
                                {%- if propertyPath == admin.identifier -%}</th>{%- else -%}</td>{%- endif -%}
                            {%- endfor -%}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </form>
    {% else %}
        <div class="callout callout-info">
            <h5>Information!</h5>
            <p>No results found.</p>
        </div>
    {% endif %}
{% endblock %}