{% extends '@Admin/CRUD/layout.html.twig' %}

{% set filters = true %}

{#{% block title %}{{ admin.class }}{% endblock %}#}

{% block header %}<h1>{{ admin.class }}</h1>{% endblock %}

{% block content %}
    <div class="d-flex justify-content-end mb-3">
        <a href="{{ admin_path('create', admin.code) }}" class="btn btn-default">
            <span data-feather="plus"></span> Create
        </a>
    </div>

    {% if result|length > 0 %}
        <form action="" method="post">
            <table class="table">
                <thead class="thead-light">
                    <tr>
                        <th>&nbsp;</th>
                        {% for column in admin.context.list %}
                            <th>{{ column.label|trans }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for index, data in result %}
                        <tr>
                            <td>
                                <label>
                                    <input type="checkbox" class="i-checks" name="idx[]" value="{{ data.id }}" />
                                </label>
                            </td>
                            {% for column in admin.context.list %}
                                {{ render_list_element(admin, column, data) }}
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </form>
    {% else %}
        <div class="callout callout-info">
            <h5>Information!</h5>
            <p>No results found.</p>
        </div>
    {% endif %}
{% endblock %}