{% extends '@Admin/CRUD/base_list_field.html.twig' %}

{% block field %}
    {% for locale in get_admin_setting('front_locales') %}
        {% set flag_path = 'bundles/admin/plugins/flag-icon-css/flags/1x1/' ~ locale ~ '.svg' %}
        {% if value == locale %}
            <img src="{{ asset(flag_path) }}" alt="{{ locale }}" class="locale-flag" />
        {% else %}
            {% if object.translations[locale] is defined %}
                <a href="{{ admin_path('edit', admin.code, { id: object.translations[locale].id }) }}">
                    <img src="{{ asset(flag_path) }}" alt="{{ locale }}" class="locale-flag" />
                </a>
            {% else %}
                <a href="{{ admin_path('translate', admin.code, { id: object.id, locale: locale }) }}">
                    <img src="{{ asset(flag_path) }}" alt="{{ locale }}" class="locale-flag" />
                </a>
            {% endif %}
        {% endif %}
    {% endfor %}
{% endblock %}